##########
# Python #
##########
*.pyc
*__pycache__/

#####################
# Jupyter Notebooks #
#####################
*.ipynb

###############
# Directories #
###############
*.ipynb_checkpoints/

##################
# OSX Attributes #
##################
*.DS_Store

###########
# VS Code #
###########
*.vscode
*.cache/

#######################
# Local Documentation #
#######################
*docs/_build/

##########
# pytest #
##########
*.pytest_cache/

##########
# config #
##########
config.ini
*.csv
