[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
check-manifest = "*"
twine = "*"
seaborn = "*"
jupyter = "*"

[packages]
dacite = "==1.0.2"
matplotlib = "==3.1.1"
mysql-connector-python = "==8.0.17"
numpy = "==1.17.1"
pandas = "==0.25.1"
scipy = "==1.3.1"
uncertainties = "==3.1.2"
coolprop = "==6.3.0"
nptdms = "==0.15.1"
sqlalchemy = "==1.3.8"
coimbra-chamber = {editable = true,path = "."}

[requires]
python_version = "3.7"
